Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  clang-analyzer-*,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters
